div.banner {
	background-color: var(--light-2b);
	width: 100%;
	height: 50%;
	top: 3%;
	position: relative;
	float: left;
	z-index: 3;
    padding: 3% 0 3% 0;
}

div.aboutus {
	width: 35%;
	float: left;
	position: relative;
	padding-right: 10%;
}

div.aboutus h1 {
	font: 50px NotoSans-Bold;
    color: var(--dark-1);
    padding-top: 16%;
}

div.aboutus b {
	font: 18px NotoSans-SemiBold;
    color: var(--dark-3);
    position: relative;
    top: -30px;
}

div.showcase-video {
	width: 52.75%;
	float: left;
	position: relative;
}

div.emailus {
    padding: 10px 30px;
    background-image: linear-gradient(to bottom right, var(--accent-purple), var(--accent-pink));
    float: left;
    border-radius: 3%;
    text-decoration: none;
    color: var(--light-3);
    font: 15px NotoSans-Bold;
    top: -35px; 
    position: relative;
    clear: left;
    margin-top: 20px;
}

div.hiring {
    padding: 10px 30px;
    background-color: var(--light-3);
    float: left;
    clear: left;
    left: 42%;
    border-radius: 3%;
    text-decoration: none;
    color: var(--dark-2);
    font: 15px NotoSans-Bold; 
    position: relative;
    top: 30px;
}

div.benefits {
	float: left;
	background-color: var(--light-2);
	width: 100%;
	padding: 6% 0 6% 0;
	position: relative;
	align: center;
}

div.benefits h2 {
	text-align: center;
	font: 32px NotoSans-Bold;
    color: var(--dark-2);
}

div.benefit {
	float: left;
	position: relative;
	width: 25%;
	text-align: center;
}

div.benefit img {
	width: 120px;
}

div.benefit h3 {
	font: 20px NotoSans-Bold;
    color: var(--dark-3);
}

div.benefit p {
	font: 14px NotoSans-Regular;
    color: var(--dark-4);
    width: 60%;
    text-align: justify;
    padding-left: 20%;
}