/* Theme Colors */

:root {
	--light-1: white;
	--light-2: rgb(248, 248, 248);
	--light-3: rgb(230, 230, 230);
	--light-4: rgb(200, 200, 200);

	--dark-1: rgb(40, 40, 40);
	--dark-2: rgb(80, 80, 80);
	--dark-3: rgb(122, 122, 122);
	
	--accent-purple: rgb(135, 36, 150);
	--accent-pink: rgb(238, 45, 134);
	--accent-red: rgb(238, 45, 45);
}

/* Font Collections */

@font-face {
	font-family: NotoSans-Regular;
  	src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
	font-family: NotoSans-SemiBold;
  	src: url(fonts/NotoSans-SemiBold.ttf);
}

@font-face {
	font-family: NotoSans-Bold;
  	src: url(fonts/NotoSans-Bold.ttf);
}

@font-face {
	font-family: NotoSans-ExtraBold;
  	src: url(fonts/NotoSans-ExtraBold.ttf);
}

@font-face {
	font-family: NotoSans-Black;
  	src: url(fonts/NotoSans-Black.ttf);
}

body {
	background-color: var(--light-2);
	margin: 0;
}


/* Navigation Bar */

ul.navigation-bar {
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--light-1);
	z-index: 1000;
}

li.navigation-logo img {
	height: 40px;
	padding: 4px 10px 0px 0px;
	float: left;
	display: block;
}

li.navigation-title a {
	display: block;
	float: left;
	color: black;
	padding: 12px 5% 0px 0px;
	text-decoration: none;
	font: 20px NotoSans-Black;
}

li.navigation-tab {
	float: left;
	font: 14px NotoSans-SemiBold;
}

li.navigation-tab a {
	display: block;
	color: var(--dark-1);
	text-align: center;
	padding: 16px 30px 14px 30px;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}

li.navigation-tab a:hover {
	background-color: var(--light-3);
	border-bottom: 3px solid var(--light-3);
}

li.navigation-tab a.selected {
	border-bottom: 3px solid var(--dark-2);
}

li.navigation-profile b {
	float: right;
	font: 16px NotoSans-SemiBold;
}

li.navigation-profile :not(b) {
	float: right;
	font: 12px NotoSans-Regular;
}

li.navigation-profile a {
	display: block;
	color: var(--dark-1);
	text-align: left;
	padding: 6px 10px 0px 0px;
	text-decoration: none;
}

li.navigation-profile img {
	float: right;
	height: 36px;
	border-radius: 50%;
	border: 2px solid var(--light-3)
}

/* Footer */

div.footer {
	position: relative;
    background-color: black;
    width: 100%;
    z-index: 1;
    left: 0;
  	bottom: 0;
}

/* Generic */

div.page-margin {
	margin: 0% 8%;
}

a {
	text-decoration: none;
	color: inherit;
}